
[*.cs]
# IDE0055: Fix formatting
dotnet_diagnostic.ide0055.severity = warning

# SA1101: Prefix local calls with this
dotnet_diagnostic.sa1101.severity = none

# SA1633: File should have header
dotnet_diagnostic.sa1633.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.sa1201.severity = none

# SA1202: Public members should come before private members
dotnet_diagnostic.sa1202.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.sa1309.severity = none

# SA1404: Code analysis suppressions should have justification
dotnet_diagnostic.sa1404.severity = none

# SA1516: Elements should be separated by a blank line
dotnet_diagnostic.sa1516.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.ca1303.severity = none

# CSA1204: Static members should appear before non-static members
dotnet_diagnostic.sa1204.severity = none

# IDE0052: Remove unread private members
dotnet_diagnostic.ide0052.severity = warning

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false:suggestion

# IDE0018: Variable declaration can be inlined
dotnet_diagnostic.ide0018.severity = warning

# SA1625: Element documenation should not be copied and pasted
dotnet_diagnostic.sa1625.severity = none

# IDE0005: Using directive is unnecessary
dotnet_diagnostic.ide0005.severity = warning

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.sa1117.severity = none

# SA1404: Code analysis suppression should have justification
dotnet_diagnostic.sa1404.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.sa1101.severity = none

# SA1633: File should have header
dotnet_diagnostic.sa1633.severity = none

# SA1649: File name should match first type name
dotnet_diagnostic.sa1649.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.sa1402.severity = none

# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.ca1814.severity = none

# RCS1194: Implement exception constructors.
dotnet_diagnostic.rcs1194.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.ca1032.severity = none

# CA1826: Do not use Enumerable methods on indexable collections. Instead use the collection directly
dotnet_diagnostic.ca1826.severity = none

# RCS1079: Throwing of new NotImplementedException.
dotnet_diagnostic.rcs1079.severity = warning

# RCS1057: Add empty line between declarations.
dotnet_diagnostic.rcs1057.severity = none

# RCS1057: Validate arguments correctly
dotnet_diagnostic.rcs1227.severity = none

# IDE0004: Remove Unnecessary Cast
dotnet_diagnostic.ide0004.severity = warning

# CA1810: Initialize reference type static fields inline
dotnet_diagnostic.ca1810.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.ide0044.severity = warning

# RCS1047: Non-asynchronous method name should not end with 'Async'.
dotnet_diagnostic.rcs1047.severity = none

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.rcs1090.severity = warning

# SA1600: Missing XML comment for publicly visible type or member
dotnet_diagnostic.sa1600.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.cs1591.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.sa1602.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.sa1601.severity = none

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = true

# ReSharper properties
resharper_trailing_comma_in_multiline_lists = true
resharper_wrap_object_and_collection_initializer_style = chop_always
